In [3]:
import pandas as pd
import random
import os

# 設定檔案路徑與範圍
base_path = '/Users/changchihching/Downloads/36_TrainingData/'
file_prefix = 'L{}_Train.csv'
output_file = os.path.join(base_path, 'test.csv')  # 匯出的test檔案
days_to_select = 12  # 隨機選取的天數

# 處理 L1 到 L16 的檔案
for i in range(1, 17):
    file_path = os.path.join(base_path, file_prefix.format(i))
    
    # 檢查檔案是否存在
    if not os.path.exists(file_path):
        print(f"檔案不存在：{file_path}")
        continue
    
    # 讀取CSV檔案
    df = pd.read_csv(file_path)
    
    # 確保DateTime欄位轉換為datetime格式
    df['DateTime'] = pd.to_datetime(df['DateTime'])

    # 添加新的日期欄位（不帶時間，用於篩選）
    df['Date'] = df['DateTime'].dt.date

    # 篩選出9:00到16:59的資料
    df_filtered = df[(df['DateTime'].dt.hour >= 9) & (df['DateTime'].dt.hour <= 16)]

    # 檢查每個日期是否完整覆蓋9:00至16:59的所有小時
    valid_dates = []
    for date, group in df_filtered.groupby('Date'):
        hours = group['DateTime'].dt.hour.unique()
        if set(range(9, 17)).issubset(hours):  # 檢查是否包含9到16所有小時
            valid_dates.append(date)

    # 隨機選取指定天數
    if len(valid_dates) >= days_to_select:
        selected_dates = random.sample(valid_dates, days_to_select)
    else:
        print(f"{file_path} 中完整9:00-16:59的日期少於 {days_to_select} 天，將選取全部符合條件的 {len(valid_dates)} 天。")
        selected_dates = valid_dates

    # 篩選出這些天數的完整資料
    df_selected = df_filtered[df_filtered['Date'].isin(selected_dates)]

    # 從原始資料中刪除篩選出的資料
    df_remaining = df[~df['Date'].isin(selected_dates)]  # 保留不在選取日期中的資料

    # 移除臨時的Date欄位
    df_selected = df_selected.drop(columns=['Date'])
    df_remaining = df_remaining.drop(columns=['Date'])

    # 匯出篩選出的資料到test.csv
    if os.path.exists(output_file):
        # 檔案已存在，追加資料
        df_selected.to_csv(output_file, mode='a', header=False, index=False)
    else:
        # 檔案不存在，新增並寫入資料
        df_selected.to_csv(output_file, mode='w', header=True, index=False)

    # 覆寫原始檔案，保存剩餘資料
    df_remaining.to_csv(file_path, index=False)
    print(f"篩選出的資料已追加到 {output_file}，剩餘資料已更新至 {file_path}")

print("所有檔案處理完成！")

篩選出的資料已追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv，剩餘資料已更新至 /Users/changchihching/Downloads/36_TrainingData/L1_Train.csv
篩選出的資料已追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv，剩餘資料已更新至 /Users/changchihching/Downloads/36_TrainingData/L2_Train.csv
篩選出的資料已追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv，剩餘資料已更新至 /Users/changchihching/Downloads/36_TrainingData/L3_Train.csv
篩選出的資料已追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv，剩餘資料已更新至 /Users/changchihching/Downloads/36_TrainingData/L4_Train.csv
篩選出的資料已追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv，剩餘資料已更新至 /Users/changchihching/Downloads/36_TrainingData/L5_Train.csv
篩選出的資料已追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv，剩餘資料已更新至 /Users/changchihching/Downloads/36_TrainingData/L6_Train.csv
篩選出的資料已追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv，剩餘資料已更新至 /Users/changchihching/Downloads/36_TrainingData/L7_Train.csv
篩選出的資料已追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv，剩餘資料已更新至 /Users/changchihching/Downloads/36_TrainingData/L8_Train.csv
篩選出的資料已追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv，剩餘資料已更新至 /Users/changchihching/Downloads/36_TrainingData/L9_Train.csv
篩選出的資料已追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv，剩餘資料已更新至 /Users/changchihching/Downloads/36_TrainingData/L10_Train.csv
篩選出的資料已追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv，剩餘資料已更新至 /Users/changchihching/Downloads/36_TrainingData/L11_Train.csv
篩選出的資料已追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv，剩餘資料已更新至 /Users/changchihching/Downloads/36_TrainingData/L12_Train.csv
篩選出的資料已追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv，剩餘資料已更新至 /Users/changchihching/Downloads/36_TrainingData/L13_Train.csv
篩選出的資料已追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv，剩餘資料已更新至 /Users/changchihching/Downloads/36_TrainingData/L14_Train.csv
篩選出的資料已追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv，剩餘資料已更新至 /Users/changchihching/Downloads/36_TrainingData/L15_Train.csv
篩選出的資料已追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv，剩餘資料已更新至 /Users/changchihching/Downloads/36_TrainingData/L16_Train.csv
所有檔案處理完成！

In [4]:
import pandas as pd
import random
import os

# 讀取CSV檔案
file_path = '/Users/changchihching/Downloads/36_TrainingData/L17_Train.csv'
df = pd.read_csv(file_path)

# 確保DateTime欄位轉換為datetime格式
df['DateTime'] = pd.to_datetime(df['DateTime'])

# 添加新的日期欄位（不帶時間，用於篩選）
df['Date'] = df['DateTime'].dt.date

# 篩選出9:00到16:59的資料
df_filtered = df[(df['DateTime'].dt.hour >= 9) & (df['DateTime'].dt.hour <= 16)]

# 檢查每個日期是否完整覆蓋9:00至16:59的所有小時
valid_dates = []
for date, group in df_filtered.groupby('Date'):
    hours = group['DateTime'].dt.hour.unique()
    if set(range(9, 17)).issubset(hours):  # 檢查是否包含9到16所有小時
        valid_dates.append(date)

# 隨機選取指定天數（預設為10天）
days_to_select = 8
if len(valid_dates) >= days_to_select:
    selected_dates = random.sample(valid_dates, days_to_select)
else:
    print(f"資料中包含完整9:00-16:59的日期少於 {days_to_select} 天，將選取全部符合條件的 {len(valid_dates)} 天。")
    selected_dates = valid_dates

# 篩選出這些天數的完整資料
df_selected = df_filtered[df_filtered['Date'].isin(selected_dates)]

# 匯出資料到新的CSV檔案（追加模式）
output_path = '/Users/changchihching/Downloads/36_TrainingData/test.csv'
if os.path.exists(output_path):
    # 檔案已存在，追加資料
    df_selected.to_csv(output_path, mode='a', header=False, index=False)
else:
    # 檔案不存在，新增並寫入資料
    df_selected.to_csv(output_path, mode='w', header=True, index=False)

print(f"已篩選資料並追加到 {output_path}")

# 從原始資料中刪除篩選出的資料
df_remaining = df[~df['Date'].isin(selected_dates)]  # 保留不在選取日期中的資料

# 移除臨時的Date欄位
df_remaining = df_remaining.drop(columns=['Date'])

# 覆寫原始檔案，保存剩餘資料
df_remaining.to_csv(file_path, index=False)

print(f"篩選出的資料已從原始檔案中刪除，並保存至 {file_path}")

已篩選資料並追加到 /Users/changchihching/Downloads/36_TrainingData/test.csv
篩選出的資料已從原始檔案中刪除，並保存至 /Users/changchihching/Downloads/36_TrainingData/L17_Train.csv

In [43]:
import os
import pandas as pd
import numpy as np

dir = os.getcwd() + f"/test.csv"
df = pd.read_csv(dir)

df['DateTime'] = pd.to_datetime(df['DateTime'])

df.set_index('DateTime', inplace=True)
df = df.groupby('LocationCode')
df = df.resample('10T').mean().drop(columns='LocationCode')
df = df.round(2)

df.reset_index(inplace=True)
df['序號'] = df['DateTime'].dt.strftime('%Y%m%d%H%M') + df['LocationCode'].astype(str).str.zfill(2)
df = df.dropna()


upload = df[['序號', 'Power(mW)']]
upload = upload.rename(columns={'Power(mW)': '答案'})
upload['mask'] = masks
upload.to_csv('answer.csv', index=False)

# testing = pd.DataFrame(data={'序號': df['序號'], '答案': np.nan})
# # testing['答案'] = np.nan
# display(testing)
# testing.to_csv('upload.csv', index=False)
# df.to_csv(os.getcwd() + f"/TrainingData_avg/L{i}_Train.csv", index=False)

/tmp/ipykernel_3136447/2680365575.py:12: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df = df.resample('10T').mean().drop(columns='LocationCode')

In [9]:
pd.read_csv('upload.csv')

                序號
0     2.024010e+13
1     2.024010e+13
2     2.024010e+13
3     2.024010e+13
4     2.024010e+13
...            ...
9596  2.024071e+13
9597  2.024071e+13
9598  2.024071e+13
9599  2.024071e+13
9600           NaN

[9601 rows x 1 columns]

In [31]:
baseline_date = pd.to_datetime('2024-01-01')
df['days'] = (df['DateTime'] - baseline_date).dt.days  # distance to the baseline date(2024-01-01)

df['cnt'] = 1



aa = df.groupby('days')['cnt'].count().reset_index()
display(aa)
aa[aa['cnt'] % 48 != 0]

     days  cnt
0       6   96
1       8   48
2      11   48
3      12   48
4      17   48
..    ...  ...
125   198   96
126   199   48
127   201   48
128   202   48
129   205   96

[130 rows x 2 columns]

    days  cnt
9     28  138
25    56   39
50    95   95

In [35]:
aa.iloc[25]

days    56
cnt     39
Name: 25, dtype: int64

In [34]:
df[df['days'] == 28]

,LocationCode,DateTime,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),序號,days,cnt
3168,1,2024-01-29 09:00:00,0.12,1020.80,18.67,100.00,19532.25,76.22,20240129090001,28,1
3169,1,2024-01-29 09:10:00,0.53,1020.78,19.75,100.00,24039.25,120.87,20240129091001,28,1
3170,1,2024-01-29 09:20:00,1.31,1020.65,20.84,97.07,28959.83,172.66,20240129092001,28,1
3171,1,2024-01-29 09:30:00,1.52,1020.54,20.83,92.17,21088.58,92.41,20240129093001,28,1
3172,1,2024-01-29 09:40:00,0.63,1020.40,20.73,92.05,22902.92,108.42,20240129094001,28,1
...,...,...,...,...,...,...,...,...,...,...,...
102331,8,2024-01-29 16:10:00,0.00,1017.66,20.21,67.84,2392.42,1.09,20240129161008,28,1
102332,8,2024-01-29 16:20:00,0.00,1017.73,19.99,69.11,1721.08,0.58,20240129162008,28,1
102333,8,2024-01-29 16:30:00,0.00,1017.87,20.16,69.22,1675.67,0.56,20240129163008,28,1
102334,8,2024-01-29 16:40:00,0.00,1017.97,20.17,69.31,1675.42,0.55,20240129164008,28,1
102335,8,2024-01-29 16:50:00,0.00,1018.06,19.90,70.16,1214.25,0.30,20240129165008,28,1

In [36]:
df[df['days'] == 56]

,LocationCode,DateTime,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),序號,days,cnt
122784,9,2024-02-26 09:00:00,0.00,1020.92,18.74,73.54,5564.25,5.59,20240226090009,56,1
122785,9,2024-02-26 09:10:00,0.00,1020.92,18.96,71.95,9143.83,10.34,20240226091009,56,1
122786,9,2024-02-26 09:20:00,0.00,1020.83,19.17,70.59,8518.00,12.33,20240226092009,56,1
122787,9,2024-02-26 09:30:00,0.00,1020.72,19.12,69.36,8840.84,11.03,20240226093009,56,1
122788,9,2024-02-26 09:40:00,0.33,1020.69,18.89,70.57,9930.83,12.90,20240226094009,56,1
122789,9,2024-02-26 09:50:00,0.03,1020.65,19.12,69.75,10113.58,12.33,20240226095009,56,1
122790,9,2024-02-26 10:00:00,0.11,1020.60,19.39,68.92,8124.33,9.37,20240226100009,56,1
122791,9,2024-02-26 10:10:00,0.00,1020.44,19.46,67.31,10407.83,13.35,20240226101009,56,1
122792,9,2024-02-26 10:20:00,0.00,1020.39,19.63,67.53,9633.67,13.09,20240226102009,56,1
122793,9,2024-02-26 10:30:00,0.00,1020.32,19.78,66.31,11034.92,17.11,20240226103009,56,1
122794,9,2024-02-26 10:40:00,0.00,1020.19,20.02,66.42,11462.42,18.24,20240226104009,56,1
122795,9,2024-02-26 10:50:00,0.07,1019.95,20.10,64.78,12607.42,22.37,20240226105009,56,1
122796,9,2024-02-26 11:00:00,0.00,1019.83,20.26,64.92,11559.08,18.69,20240226110009,56,1
122797,9,2024-02-26 11:10:00,0.04,1019.78,20.37,64.28,12439.03,18.50,20240226111009,56,1
122806,9,2024-02-26 12:40:00,0.00,1018.36,19.92,65.85,8715.17,10.21,20240226124009,56,1
122807,9,2024-02-26 12:50:00,0.08,1018.17,19.82,65.40,6948.92,7.99,20240226125009,56,1
122808,9,2024-02-26 13:00:00,0.00,1017.98,19.70,66.23,6309.35,6.95,20240226130009,56,1
122809,9,2024-02-26 13:10:00,0.04,1017.80,19.85,66.30,8050.00,9.38,20240226131009,56,1
122810,9,2024-02-26 13:20:00,0.00,1017.64,19.95,65.95,8989.17,11.95,20240226132009,56,1
122811,9,2024-02-26 13:30:00,0.00,1017.62,19.90,66.49,8730.00,11.07,20240226133009,56,1
122812,9,2024-02-26 13:40:00,0.00,1017.55,19.91,65.86,8740.25,11.14,20240226134009,56,1
122813,9,2024-02-26 13:50:00,0.00,1017.49,19.92,65.80,7534.75,7.86,20240226135009,56,1
122814,9,2024-02-26 14:00:00,0.00,1017.45,19.75,66.47,5470.92,4.43,20240226140009,56,1
122815,9,2024-02-26 14:10:00,0.00,1017.44,19.48,67.29,5041.25,3.68,20240226141009,56,1
122816,9,2024-02-26 14:20:00,0.03,1017.38,19.50,67.91,5226.33,3.99,20240226142009,56,1
122817,9,2024-02-26 14:30:00,0.09,1017.32,19.32,68.79,4721.00,3.47,20240226143009,56,1
122818,9,2024-02-26 14:40:00,0.00,1017.26,19.21,69.82,4943.92,3.64,20240226144009,56,1
122819,9,2024-02-26 14:50:00,0.00,1017.27,19.16,70.66,4501.00,3.10,20240226145009,56,1
122820,9,2024-02-26 15:00:00,0.00,1017.23,19.01,71.36,4400.83,3.52,20240226150009,56,1
122821,9,2024-02-26 15:10:00,0.00,1017.25,19.02,71.41,5498.70,3.73,20240226151009,56,1
122822,9,2024-02-26 15:20:00,0.00,1017.26,18.99,71.38,4161.25,3.19,20240226152009,56,1
122823,9,2024-02-26 15:30:00,0.00,1017.28,18.85,72.20,3702.92,2.22,20240226153009,56,1
122824,9,2024-02-26 15:40:00,0.00,1017.21,18.64,74.41,3023.17,1.81,20240226154009,56,1
122825,9,2024-02-26 15:50:00,0.00,1017.18,18.65,75.07,3524.54,1.96,20240226155009,56,1
122826,9,2024-02-26 16:00:00,0.00,1017.10,18.45,76.60,2484.63,1.27,20240226160009,56,1
122827,9,2024-02-26 16:10:00,0.00,1017.07,18.25,77.18,2305.00,0.89,20240226161009,56,1
122828,9,2024-02-26 16:20:00,0.00,1017.07,18.10,77.90,1905.75,0.68,20240226162009,56,1
122829,9,2024-02-26 16:30:00,0.00,1017.26,18.11,78.03,1873.92,0.55,20240226163009,56,1
122830,9,2024-02-26 16:40:00,0.00,1017.42,18.12,77.91,1328.34,0.42,20240226164009,56,1

In [37]:
df[df['days'] == 95]

,LocationCode,DateTime,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),序號,days,cnt
219216,14,2024-04-05 09:00:00,0.0,1009.28,27.47,81.24,16282.25,79.55,20240405090014,95,1
219217,14,2024-04-05 09:10:00,0.0,1009.27,27.16,82.36,15803.67,73.47,20240405091014,95,1
219218,14,2024-04-05 09:20:00,0.0,1009.29,27.32,80.74,19033.92,108.03,20240405092014,95,1
219219,14,2024-04-05 09:30:00,0.0,1009.45,27.12,81.23,14461.25,60.44,20240405093014,95,1
219220,14,2024-04-05 09:40:00,0.0,1009.55,26.20,85.78,5921.83,10.30,20240405094014,95,1
...,...,...,...,...,...,...,...,...,...,...,...
257803,16,2024-04-05 16:10:00,0.0,1014.37,23.68,92.86,1612.92,0.58,20240405161016,95,1
257804,16,2024-04-05 16:20:00,0.0,1014.58,23.43,94.45,1508.00,0.51,20240405162016,95,1
257805,16,2024-04-05 16:30:00,0.0,1014.66,23.42,95.36,2131.83,0.96,20240405163016,95,1
257806,16,2024-04-05 16:40:00,0.0,1014.74,23.33,95.90,1550.42,0.57,20240405164016,95,1
257807,16,2024-04-05 16:50:00,0.0,1014.83,23.26,96.54,1275.83,0.40,20240405165016,95,1

In [44]:
import os
import json
import random
import pandas as pd
import numpy as np

with open(os.getcwd() + "/target_match_device.txt") as f:
    date_dict = f.read()
    
days = json.loads(date_dict)
daysLs = list(days.keys())

upload = pd.read_csv("upload.csv")
ids = list(upload['序號'])
id_dict = {id: 0 for id in ids}
print(len(ids))
random.seed(42)
public = random.sample(daysLs, k=100)
public

for p in public:
    p = str(p)
    for id in ids:
        id = str(id)
        if p[:-2] in id and p[-2:] == id[-2:]:
            id_dict[int(id)] = 1

masks = id_dict.values()
upload['mask'] = masks
upload.to_csv('upload_with_masks.csv', index=False)

9600

In [42]:
sum(list(masks))

4800